:root {
  --textdancingscript: "Dancing Script", cursive;
  --textLato: "Lato", sans-serif;
  --textmerriweater: "Merriweather", serif;
  --textmulish: "Mulish", sans-serif;
  --textmontserrat: "Montserrat", sans-serif;
  --textnunito: "Nunito", sans-serif;
  --textopensans: "Open Sans", sans-serif;
  --textoswald: "Oswald", sans-serif;
  --textpoppins: "Poppins", sans-serif;
  --textroboto: "Roboto", sans-serif;
  --textrokkit: "Rokkitt", serif;
  --textrubik: "Rubik", sans-serif;
  --textspectral: "Spectral", serif;
}
