.skl_head {
  font-family: var(--textdancingscript);
  text-align: center;
  font-size: 5vw;
}

.skl_container_element {
  width: 100%;
  height: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
  position: relative;
}

.skl_container_element li {
  margin-top: 10vh;
  width: 30%;
  height: fit-content;
  position: relative;
  box-sizing: border-box;
  background-color: grey;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  border: 0;
}
.skl_container_element li:hover {
  background-color: white;
  border: 2px solid gray;
}
.skl_container_element li .skl_li_content {
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.skl_container_element li .skl_li_content img {
  height: 30vh;
  top: 20%;
  bottom: 0;
  position: absolute;
  filter: blur(15px) grayscale(100%);
  -webkit-filter: blur(15px) grayscale(100%);
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
.skl_container_element li:hover .skl_li_content img {
  top: 5%;
  filter: grayscale(0);
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
.skl_container_element li .skl_li_content h2 {
  width: 50%;
  height: fit-content;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
  top: 50%;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.skl_container_element li:hover .skl_li_content h2 {
  top: 80%;
  font-size: 1.5vw;
  width: fit-content;
  border: 0;
  color: rgb(88, 87, 87);
}
