* {
    margin: 0;
    padding: 0;
}
:root{
    --color:white;
}


/*====================== Setting Header===================== */
body header {
    display: flex;
    justify-content: center;
    width: 100vmax;
    /* height: 5vmax; */
    background-color: blue;
    position: fixed;
    top: 0;
}

body header nav {
    margin: 1vmax;
    width: 100%;
    display: flex;
    align-items: center;
}

body header h1 {
    text-align: center;
    width: 30%;
    font-size: 3vmax;
    color: var(--color);
    text-shadow: 0.4vmax 0.4vmax 0.3vmax rgba(0, 0, 0, 0.5);
    font-family: 'Croissant One', cursive;
}

body header nav ul {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 1vmax;
}

body header nav ul li {
    line-height: 50px;
    width: 10%;
    height: 50px;
    list-style: none;
    text-align: center;
}

body header ul li a {
    text-decoration: none;
    color: var(--color);
    font-size: 1.1vmax;
    font-weight: bold;
}
body header ul li a:hover{
    color: yellow;
}

/* ========================================Setting Main==================== */
body main{
    margin-top: 5vmax;
    height: 1000px;
    width: 100%;
    border: 1px solid black;
}
/* Setting Responsife */
@media screen and (max-width:720px) {
    body header{
        flex-direction: column;
        width: 100%;
    }
    body header nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    body header nav ul li a{
        font-size: 2vmax;
    }
}
