/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width: 600px) {
  /* Setting Font navbar */
  .container .container-fluid .styleteks {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
  }

  /* Setting Navbar Element */
  .container .container-fluid #navbarNav .navbar-nav .nav-item {
    text-align: center;
  }
  .container .container-fluid #navbarNav .navbar-nav .nav-item .nav-link:hover {
    color: blue;
  }

  .btn_size_cs {
    width: 6vw;
  }

  /* ============================================Setting Header */
  .head {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2vh;
  }

  /* Setting Headet immages */
  .head .images {
    width: 100%;
  }

  .head .images img {
    width: 70%;
  }

  /* Setting Konten Header */
  .head .title2 {
    width: 100%;
    height: 35vh;
  }
  .head .title2 .teksnama {
    font-size: 6vw;
  }

  .head .title2 .tekswitch .text {
    font-size: 4vw;
  }

  .head .title2 .moto p {
    font-size: 2vw;
  }
  /* Setting Kontakku */
  .kontakku .dropdown .btn {
    width: 100%;
    font-size: 3vw;
  }
  /*================================================== Setting Kontent Gallery */
  #root .gl_h1 {
    font-size: 15vw;
  }

  .gl_cont_ul .gl_element_li .gl_element_li_component {
    gap: 1vh;
  }
  .gl_cont_ul .gl_element_li .gl_element_li_component img {
    width: 90%;
  }
  .gl_cont_ul .gl_element_li .gl_element_li_component img:hover {
    width: 100%;
  }

  .gl_cont_ul .gl_element_li .gl_element_li_component h2 {
    font-size: 4vw;
  }
  .gl_cont_ul .gl_element_li .gl_element_li_component p {
    font-size: 3vw;
  }
  /* ================================================Setting Bagian Footer */
  .ft-bg {
    padding: 10%;
  }
  .ft-bg p {
    font-size: 2vw;
  }

  .ft-bg a img {
    width: 3vw;
  }
}
