@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&family=Spectral:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --textdancingscript: "Dancing Script", cursive;
  --textLato: "Lato", sans-serif;
  --textmerriweater: "Merriweather", serif;
  --textmulish: "Mulish", sans-serif;
  --textmontserrat: "Montserrat", sans-serif;
  --textnunito: "Nunito", sans-serif;
  --textopensans: "Open Sans", sans-serif;
  --textoswald: "Oswald", sans-serif;
  --textpoppins: "Poppins", sans-serif;
  --textroboto: "Roboto", sans-serif;
  --textrokkit: "Rokkitt", serif;
  --textrubik: "Rubik", sans-serif;
  --textspectral: "Spectral", serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
}

/* -------------------- */
/* Setting Navbar */

nav .styleteks {
  font-family: var(--textdancingscript);
  font-size: 2vw;
}

nav .fontstyle {
  font-family: var(--textLato);
}

/*======================== Hanya Pemberi batas navbar antara navbar dan headnya */
.space {
  height: 50px;
}

/*============================= Setting Head */
.head {
  display: flex;
  justify-content: center;
  height: fit-content;
}

/*============================== Tittle */
.head .title2 {
  width: 60%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head .title2 .teksnama {
  width: 70%;
  font-size: 3.3vw;
  color: black;
  font-family: var(--textnunito);
}

.head .title2 .tekswitch {
  width: 70%;
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: start;
  overflow: hidden;
}

.head .title2 .tekswitch .text {
  position: relative;
  color: #4070f4;
  font-size: 2.5vw;
  font-weight: 600;
}

.head .title2 .tekswitch .text.first-text {
  color: black;
}

.head .title2 .tekswitch .text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  border-left: 2px solid #4070f4;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: calc(100% + 6px);
  }

  100% {
    left: 0%;
  }
}

.head .title2 .moto {
  width: 70%;
  font-family: var(--textpoppins);
  text-align: justify;
  font-size: 1vw;
}
/* Setting Tombol kontak */
.head .kontakku {
  width: 70%;
  display: flex;
  justify-content: start;
}

/* Images */
.head .images {
  height: fit-content;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head .images img {
  width: 70%;
  animation-name: animationhead;
  animation-duration: 3s;
  filter: drop-shadow(5px 5px 5px #222);
}

@keyframes animationhead {
  0% {
    transform: translateY(150%);
    -webkit-transform: translateY(150%);
    -moz-transform: translateY(150%);
    -ms-transform: translateY(150%);
    -o-transform: translateY(150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    opacity: 1;
  }
}

/* Setting Footer */
.ft-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  font-size: 1vw;
}

.ft-bg img {
  width: 2vw;
}

section article {
  width: 100%;
  min-width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page .card img {
  width: 50px;
  height: 50px;
}

/* Responsif */
/* hi-res Laptop and Desktop */
@media (max-width: 1281px) {
}

/* Big landscape tablet, laptop, desktop */
@media (max-width: 1025px) {
}
